

body {
    background: rgb(36, 64, 124);
    justify-content: center;
    align-content: center;
  
}


#songs {
    text-align: center;
    background: black;
    color: azure;
    margin: 1rem;
    padding: 0px;
}

li {
    border: 2px solid blue;
}

.spacer {
    height: 15rem;
}